html
  head
    title What will I whatch tonight ?
    include ./statics/styles.jade
  body
    .container-fluid
        header.row.header
            .title
                h1.text-center What will I whatch tonight ?

        section.row.content
            block content

        footer.row.footer
            include ./statics/footer.jade